<nav style="padding: 1%;" class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
  
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#" style="color: aliceblue;">RESTLOCK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: aliceblue;">Ana Sayfa</a>

          </li>

        </ul>

        <li class="navbar-nav mb-4 mb-lg-0">
          <a class="nav-link bi bi-person"  *ngIf="checkToLogin()==false" routerLink="login" href="#" style="color: aliceblue;">  Giriş Yap</a>
          <a class="nav-link bi bi-person-plus" *ngIf="checkToLogin()==false" routerLink="register" href="#" style="color: aliceblue;"> Kayıt Ol</a>
          <div *ngIf="checkToEmail()==true"  >
            <li class="nav-item dropdown">
              <a  class="nav-link dropdown-toggle navbar" id="navbarDarkDropdownMenuLink" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
                <b>{{users?.firstName}} {{users?.lastName}}</b>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item bi bi-person-square" href="#">  Profil</a></li>
                <li><a (click)="logOut()" class="dropdown-item bi bi-box-arrow-right" href="#">  Çıkış Yap</a></li>
              </ul>
            </li>
          </div>
        </li>
      </div>
      
    </div>
  </nav>