<app-carousel></app-carousel>
<app-place-category></app-place-category>
<div *ngIf="dataLoaded==false" class="" role="status">
  <span class="visually-hidden">Loading...</span>
</div>




<div class="container">
  
  <input style="margin-bottom:1%" class="form-control" [(ngModel)]="filterText" type="text" placeholder="Ara" aria-label="default input example">
  <small *ngIf="filterText">Şu an <strong>{{filterText}} </strong> aradınız</small>
  <h3 *ngIf="places; else: noPlaces" style="text-align:center">Mekan Listesi</h3>
  <ng-template #noPlaces> <h3>Mekanlar Listelenemedi</h3> </ng-template>
    <div  class="row">
  <div *ngFor="let place of places | filterPipe:filterText"   class="col-sm-4 mb-4 ">
    <div class="card"> 
          <img src="https://www.yegenmetal.com/Content/img/resimYok.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{place.placeName |uppercase }} </h5>
      <p class="card-text">{{place?.description}}</p>
      <button  type="button" routerLink="placedetail/{{place.placeId}}" class="btn btn-info"> Detaylar</button>
    </div>
    </div>
  </div>
</div>
</div>




