<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""
/>

<body style="margin: 5%">
  <main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
        
      >
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
          
        >
          <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
          <span class="visually-hidden" >Previous</span>
        </button>


<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let place of placeImages; let i = index"  [ngClass]="i != 0 ? 'carousel-item' : 'carousel-item active'" data-bs-interval="10000">
      <img src="{{place.imagePath}}" width="auto" height="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <h1 class="mb-1">{{ currentPlaceDetails?.placeName |uppercase }}</h1>
            <div class="mb-1 text-muted">
              Açılış: {{ currentPlaceDetails?.openTime  }}
            </div>
            <div class="mb-1 text-muted">
              Kapanış: {{ currentPlaceDetails?.closeTime }}
            </div>
            <br />
            <div class="mb-1 text bi bi-telephone">
              {{ currentPlaceDetails?.placePhoneNumber }}
            </div>
            <p class="card-text mb-auto bi bi-geo-alt">
              {{ currentPlaceDetails?.placeAddress }}
            </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg
              class="bd-placeholder-img"
              width="200"
              height="250"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            </svg>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div id="map" class="col p-4 d-flex flex-column position-static">
            <!-- Harita Burada -->
          </div>
          
          <div class="col-auto d-none d-lg-block"></div>
        </div>
        <a mat-raised-button href="https://www.google.com/maps/dir/?api=1&origin={{latitude}},{{longitude}}&destination={{currentPlaceDetails?.latitude}},{{currentPlaceDetails?.longitude}}"  target="_blank">Rota Oluştur</a>      
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <mat-tab-group mat-align-tabs="start"  >
          <mat-tab label="Genel Bakış"> Content 1 </mat-tab>
          <mat-tab label="Fotoğraflar"> <app-place-image-list></app-place-image-list> </mat-tab>
          <mat-tab label="Yorumlar"> <app-comment [placeId]="placeId"></app-comment> </mat-tab>
          <mat-tab label="Menü"> <app-menu> </app-menu> </mat-tab>
        </mat-tab-group>
      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">Mekan Hakkında</h4>
            <p class="mb-0">{{ currentPlaceDetails?.description }}</p>
          </div>


          <div class="p-4">
            <h4 class="fst-italic">Sosyal Medya Hesapları</h4>
            <ol class="list-unstyled">
              <li>
                <a style="text-decoration: none" class="bi bi-laptop" href="#">
                  Web Sitesi</a
                >
              </li>
              <li>
                <a style="text-decoration: none" class="bi bi-twitter" href="#">
                  Twitter</a
                >
              </li>
              <li>
                <a
                  style="text-decoration: none"
                  class="bi bi-facebook"
                  href="#"
                >
                  Facebook</a
                >
              </li>
              <li>
                <a
                  style="text-decoration: none"
                  class="bi bi-instagram"
                  href="#"
                >
                  İnstangram</a
                >
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script
    src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""
  ></script>
</body>
