
<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Ad Soyad</mat-card-title>
      <mat-card-subtitle>Mail</mat-card-subtitle>
      <img mat-card-sm-image src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" >
    </mat-card-title-group>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, fugiat. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, non.
    </mat-card-content>


<div  style="margin-top:4%" class="mb-4">
    <label for="name" class="form-label">Ad Soyad</label>
    <input type="text" class="form-control" id="name" >
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">E-Mail</label>
    <input type="text" class="form-control" id="email" >
  </div>

  <div class="mb-3">
    <label for="comment" class="form-label">Yorum Yap</label>
    <textarea class="form-control" aria-label="With textarea" id="comment"></textarea>
  </div>

  